<template>
    <div>
        <b-row>
            <b-col>
                <!-- Table -->
                <b-table ref="table"
                         :fields="fields"
                         class="table"
                         id="table"
                         :items="tableDataProvider"
                         :per-page="request.pagination.limit"
                         :current-page="request.pagination.page"
                         small bordered responsive caption-top striped hover>
                    <template v-slot:cell(actions)="data">
                        <div class="d-flex flex-row">
                            <b-button size="sm" variant="light" @click="userEdit(data.item.id)">Изменить</b-button>
                            <b-button size="sm" variant="light" @click="userDelete(data.item.id)">Удалить</b-button>
                        </div>
                    </template>
                </b-table>
            </b-col>
        </b-row>

        <b-row class="pb-5">
            <b-col class="d-flex flex-row">
                <b-form-select @change="refresh" :options="perPageOptions" v-model="request.pagination.limit">
                </b-form-select>
                <b-pagination
                        v-model="request.pagination.page"
                        :total-rows="totalRowsCount"
                        :per-page="request.pagination.limit"
                        aria-controls="table"
                ></b-pagination>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    export default {
        name: 'Table',
        props: [
            'request', 'dataLoader', 'fields'
        ],
        data() {
            return {
                totalRowsCount: 0,
                perPageOptions: [5, 10, 15, 16, 17, 18, 19, 20, 30, 50, 100, 500, 1000],
            }
        },
        methods: {
            tableDataProvider(ctx, callback) {
                this.dataLoader(this.request)
                    .then(response => {
                        this.totalRowsCount = response.data.count;
                        callback(response.data.rows);
                    })
                    .catch(_ => {
                        callback([]);
                    });
            },
            refresh() {
                this.$refs.table.refresh()
            },
            userEdit(id) {
                this.$emit('itemEdit', id)
            },
            userDelete(id) {
                this.$emit('itemDelete', id)
            }
        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
