<template>
    <div>
        <b-form-group
                id="name"
                label="Имя"
                label-for="name"
        >
            <b-form-input
                    id="name"
                    v-model="form.name"
                    type="text"
                    required
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Отчество" label-for="surname">
            <b-form-input
                    id="surname"
                    v-model="form.surname"
                    required
            ></b-form-input>
        </b-form-group>

        <b-form-group id="middleName" label="Фамилия" label-for="middleName">
            <b-form-input
                    id="middleName"
                    v-model="form.middleName"
                    required
            ></b-form-input>
        </b-form-group>

    </div>
</template>

<script>
    export default {
        name: "UserEditForm",
        data() {
            return {
                form: {}
            }
        },
        methods: {
            clearUserForm() {
                this.form = {
                    id: false,
                    name: '',
                    surname: '',
                    middleName: ''
                };
            }
        },
        mounted() {
            this.clearUserForm();
        }
    }
</script>

<style scoped>

</style>