™
<template>
    <div id="app">
        <b-container>
            <b-row>
                <b-col class="d-flex flex-row pb-5">
                    <b-form-input placeholder="Поиск..."
                                  v-model="request.search"
                                  @keyup="refresh"
                    ></b-form-input>
                    <b-button variant="success"
                              class="ml-2"
                              style="min-width: 200px"
                              @click="userCreate"
                    >Новый пользователь
                    </b-button>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <Table ref="table"
                           @itemEdit="userEdit"
                           @itemDelete="userDelete"
                           :fields="['name', 'surname', 'middleName', 'actions']"
                           :dataLoader="dataLoader"
                           :request.sync="getRequet"
                    />
                </b-col>
            </b-row>
        </b-container>
        <b-modal title="" v-model="editForm.isShow" ok-only @ok="handleEdit">
            <UserEditForm ref="editForm"></UserEditForm>
        </b-modal>
    </div>
</template>

<script>
    import Table from './components/Table.vue'
    import api from "./api";
    import UserEditForm from "./components/UserEditForm";

    export default {
        name: 'App',
        components: {
            UserEditForm,
            Table
        },
        data() {
            return {
                request: {
                    pagination: {
                        page: 1,
                        limit: 10,
                    },
                    search: '',
                },
                editForm: {
                    isShow: false,
                }
            }
        },
        computed: {
            dataLoader() {
                return api.users.search
            },
            getRequet() {
                return this.request;
            }
        },
        methods: {
            refresh() {
                this.$refs.table.refresh();
            },
            userCreate() {
                this.editForm.isShow = true;
            },
            userEdit(id) {
                this.editForm.isShow = true;
                api.users.get(id).then(r => {
                    this.$refs.editForm.form = r.data[0];
                })
            },
            userDelete(id) {
                if (confirm('Удалить пользователя?')) {
                    api.users.delete(id).then(r => {
                        this.refresh();
                    })
                }
            },
            handleEdit(bvModalEvt) {
                bvModalEvt.preventDefault();
                let form = this.$refs.editForm.form;
                if(form.name === '' || form.surname ==='' || form.middleName === '') {
                    alert('Поля не могут быть пустыми.');
                } else api.users.post(form).then(r => {
                    this.$refs.editForm.clearUserForm();
                    this.editForm.isShow = false;
                    this.refresh();
                })
            },
        }
    }
</script>

<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
